<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<h2  class="jumbotron text-center" th:text="${title}">Default Title</h2>
<ul class="list-group">
    <li class="list-group-item" th:each="cheese: ${cheeses}" th:text="${cheese.name}">

    </li>
</ul>
    <p th:unless="${cheeses.size()}"><i>No cheeses yet</i></p>

    <p><a th:href="'/menu/add-item/' + ${menuId}" class="btn btn-primary active">Add Cheese</a></p>

</body>
</html>